.PersonCard {
  width: 500px;
  max-width: 100%;
  min-height: 70px;
  display: flex;
  padding: 5px;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #f5f5f5;
  transition: all 0.4s ease;
}
.PC-selected {
  border: 10px solid rgba(0, 0, 0, 0.1);
  background: white !important;
}
@media only screen and (max-width: 800px) {
  .PersonCard {
    width: 90%;
  }
}
.PersonCard:hover {
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
}
.PersonCard-image-container {
  height: 70px;
  width: 70px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PersonCard-image {
  width: 70px;
}
.PersonCard-data {
  padding-left: 10px;
  padding-top: 10px;
}
.PersonCard-name {
  font-weight: bold;
  width: 100%;
  text-align: left;
  padding-left: 10px;
}
.PersonCard-desc {
  color: grey;
  padding-left: 10px;
  text-align: left;
}
@media only screen and (max-width: 500px) {
  .PersonCard-name {
    font-size: 1rem;
  }
}
.PersonCard-vote-button {
  margin-left: auto;
  padding-left: 5px;
  line-height: 70px;
  padding-right: 5px;
  font-family: 'Secular One', sans-serif;
  color: rgba(102, 187, 106, 0.75);
  font-size: 2.5rem;
}
